<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

</head>
<body>
    <div class="navbar-right navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/"><img _ngcontent-c1="" alt="logo" class="logo-img" src="../../../assets/img/emx-logo.png" /></a>
                @*@Html.ActionLink("לוגו EMX", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-right navbar-nav">
                    <li>@Html.ActionLink("צור קשר", "Contact", "Home")</li>
                    @*          <li>@Html.ActionLink("קטגוריות", "GetCategories", "Home")</li>*@
                    <li>@Html.ActionLink("פרטי משתמש", "UserInfo", "Home")</li>
                    <li>
                        <a href="/"><img _ngcontent-c1="" alt="logo" style="width: 50px; height: 50px;" class="logo-img" src="../../../Content/img/intel_logo.png" /></a>
                        @*@Html.ActionLink("לוגו חברה", "Index", "Home")*@
                    </li>
                </ul>
                <nav class="inner-nav">
                    <ul>
                        <li class="first-deg-li">
                            <a href="#" class="categories-drop-down-header"> הקטגוריות שלנו </a>
                            <ul class="sub-categories">
                                <li><a routerLink="/benefits/vacations"> <i class="fa fa-globe category-icon" aria-hidden="true"></i>  מסביב לעולם </a></li>
                                <li>
                                    <a routerLink="/benefits/Electronics">
                                        <i class="fa fa-television category-icon" aria-hidden="true"></i> גאדג'טים
                                    </a>
                                </li>
                                <li>
                                    <a routerLink="/benefits/Concerts_n_Shows">
                                        <i class="fa fa-music category-icon" aria-hidden="true"></i> יוצאים לבלות
                                    </a>
                                </li>
                                <li>
                                    <a routerLink="/benefits/Fitness">
                                        <i class="fa fa-heart category-icon" aria-hidden="true"></i>  לגוף ולנפש
                                    </a>
                                </li>
                                <li>
                                    <a routerLink="/benefits/Restaurants">
                                        <i class="fa fa-cutlery category-icon" aria-hidden="true"></i> חווית קולינריות
                                    </a>
                                </li>
                                <li>
                                    <a routerLink="/benefits/Home_Interior">
                                        <i class="fa fa-home category-icon" aria-hidden="true"></i> שפר ביתך
                                    </a>
                                </li>
                                <li>
                                    <a routerLink="/benefits/Pets">
                                        <i class="fa fa-paw category-icon" aria-hidden="true"></i> חברים על ארבע
                                    </a>
                                </li>
                                <li>
                                    <a routerLink="/benefits/Spa_n_Beauty">
                                        <i class="fa fa-bath" aria-hidden="true"></i> בא לי להתפנק
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <div class="app-row">
                <div class="row">
                    <div class="col span-1-of-2">
                        <ul class="footer-nav">
                            <li><a href="#">קצת עלינו</a></li>
                            <li><a href="#">צור קשר</a></li>
                            <li><a href="#">כתבות</a></li>
                            <li><a href="#">כתובתינו</a></li>
                            <li><a href="#">מידע נוסף</a></li>
                        </ul>
                    </div>
                    <div class="col span-1-of-2">
                        <ul class="social-links">
                            <li><a href="#"><i class="ion-social-facebook"></i></a></li>
                            <li><a href="#"><i class="ion-social-twitter"></i></a></li>
                            <li><a href="#"><i class="ion-social-googleplus"></i></a></li>
                            <li><a href="#"><i class="ion-social-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <div class="app-row">
                <div class="row">
                    <p>
                        This webpage was created for the course "Design and Develop a Killer Website Using HTML5 and CSS3" by Jonas Schmedtmann. No copyrights here.<br>
                        This webpage is for you! So go and do whatever you want with it and have fun.
                    </p>
                    <p>
                        Build with <i class="ion-ios-heart" style="color: #ea0000; padding: 0 3px;"></i> in the beautiful city of Lisbon, Portugal, March 2015.
                    </p>
                </div>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
